.navbar{
  font-size: 30px;
  color: gold;
  background-color:  #800000;
  font-style: oblique;
  margin-top: 45;
  margin-bottom: 45;
  margin-left:10.500;
  margin-right:10.500;
}

.nav-link {
  font-size: 16px;
  color: blanchedalmond;
}

.checkout_add {
  font-size: 16px;
}

.checkout_phone {
  font-size: 16px
}

.order_container {
  margin: 45px;
  border-style: solid;
  background-color: #E2E6E4;
  border-width: 1px;
}
