.navbar{
  font-size: 30px;
  color: gold;
  background-color:  #800000;
  font-style: oblique;
  margin-top: 45;
  margin-bottom: 45;
  margin-left:10.500;
  margin-right:10.500;
}

.nav-link {
  font-size: 16px;
  color: blanchedalmond;
}

.status_container {
  margin: 45px;
  border-style: solid;
  background-color: #e9ecef;
  border-width: 1px;
  font-style: oblique;
  font-size: 14px;
}

.status_add {
  font-size: 16px;
}

.status_phone {
  font-size: 16px
}
